In [28]:
# Import dependencies
import numpy as np
import pandas as pd

In [29]:
# Read the data
df = pd.read_csv("sample_load_weather_data.csv")

In [30]:
# drop the unrelated columns
dropped_df = df.drop(["date", "wkday", "year"] , axis = 1, inplace=False)

dropped_df.head()

,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
0,0,1,1,W,mild,1.108011,70,mild,5,0
1,1,1,0,W,mild,1.255454,67,mild,2,0
2,2,1,1,W,mild,1.074134,70,mild,5,0
3,3,1,1,W,cold,1.328308,52,cold,0,8
4,4,1,1,W,cold,1.222549,56,cold,0,4

In [31]:
dropped_df['season'].unique()

array(['W', 'Sp', 'S', 'F'], dtype=object)

In [32]:
dropped_df['weather_type'].unique()

array(['mild', 'cold', 'hot'], dtype=object)

In [33]:
from sklearn.preprocessing import LabelEncoder

#Auto encodes any dataframe column of type category or object.
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

In [34]:
# weather-type cold 0, hot 1, mild 2
# Season W 3, Sp 2, S 1, F 0
# hr-weather type cold 0, hot 1, mild 2

hot_df = dummyEncode(dropped_df)
hot_df.head()

,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
0,0,1,1,3,2,1.108011,70,2,5,0
1,1,1,0,3,2,1.255454,67,2,2,0
2,2,1,1,3,2,1.074134,70,2,5,0
3,3,1,1,3,0,1.328308,52,0,0,8
4,4,1,1,3,0,1.222549,56,0,0,4

In [35]:
# Save the data
hot_df.to_csv("hot_encoded_data.csv")