In [1]:
import pandas as pd
import math
import numpy as np
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

C:\Users\mrbal\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
!ls

dummies_data.csv
regression.ipynb

In [4]:
df = pd.read_csv("dummies_data.csv")
df.head()

,Unnamed: 0,daycode,month,holidays,load,temp,cdd,hdd,season_F,season_S,...,season_W,weather_type_cold,weather_type_hot,weather_type_mild,hr_weather_type_cold,hr_weather_type_hot,hr_weather_type_mild,hr_weather_type_xcold,hr_weather_type_xhot,hr_weather_type_xxhot
0,0,0,1,1,1.108011,70,5,0,0,0,...,1,0,0,1,0,0,1,0,0,0
1,1,1,1,0,1.255454,67,2,0,0,0,...,1,0,0,1,0,0,1,0,0,0
2,2,2,1,1,1.074134,70,5,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,3,3,1,1,1.328308,52,0,8,0,0,...,1,1,0,0,1,0,0,0,0,0
4,4,4,1,1,1.222549,56,0,4,0,0,...,1,1,0,0,1,0,0,0,0,0

In [5]:
df = df.drop('Unnamed: 0', axis=1)
df.head(1)

,daycode,month,holidays,load,temp,cdd,hdd,season_F,season_S,season_Sp,season_W,weather_type_cold,weather_type_hot,weather_type_mild,hr_weather_type_cold,hr_weather_type_hot,hr_weather_type_mild,hr_weather_type_xcold,hr_weather_type_xhot,hr_weather_type_xxhot
0,0,1,1,1.108011,70,5,0,0,0,0,1,0,0,1,0,0,1,0,0,0

In [6]:
X = np.array(df.drop(['load'], 1))
y = np.array(df['load'])

In [7]:
# skale X -- normalized -1 to 1
X = preprocessing.scale(X)

C:\Users\mrbal\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [8]:
# redefine X 
df.dropna(inplace=True)
y = np.array(df['load'])

In [9]:
# train and test data, 20% for test data 
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y, test_size = 0.2)

In [10]:
# clasifiers 
# n_jobs means number of jobs, -1 means as many as 
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [11]:
# test the accuracy of the test data 
accuracy = clf.score(X_test, y_test)

In [12]:
print(accuracy)

0.9182803015533314