In [23]:
import pandas as pd
import math
import numpy as np
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

In [24]:
!ls

hot_encoded_data.csv
Untitled.ipynb

In [25]:
df = pd.read_csv("hot_encoded_data.csv")
df.head()

,Unnamed: 0,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
0,0,0,1,1,3,2,1.108011,70,2,5,0
1,1,1,1,0,3,2,1.255454,67,2,2,0
2,2,2,1,1,3,2,1.074134,70,2,5,0
3,3,3,1,1,3,0,1.328308,52,0,0,8
4,4,4,1,1,3,0,1.222549,56,0,0,4

In [26]:
df = df.drop('Unnamed: 0', axis=1)
df.head(1)

,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
0,0,1,1,3,2,1.108011,70,2,5,0

In [27]:
X = np.array(df.drop(['load'], 1))
y = np.array(df['load'])

In [28]:
# skale X -- normalized -1 to 1
X = preprocessing.scale(X)

C:\Users\mrbal\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [29]:
# redefine X 
df.dropna(inplace=True)
y = np.array(df['load'])

In [30]:
# train and test data, 20% for test data 
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y, test_size = 0.2)

In [31]:
# clasifiers 
# n_jobs means number of jobs, -1 means as many as 
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [32]:
# test the accuracy of the test data 
accuracy = clf.score(X_test, y_test)
accuracy

0.8764617392519732